@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");
.courseContent {
  display: flex;
  flex-direction: column;
  gap: 1vw;
  padding: 2vw;
  position: relative; // Ensure dropdowns are positioned correctly

  .add-content-btn {
    background-color: rgba(5, 141, 102, 1);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 15px;
  }

  .dropdown {
    position: absolute;
    background-color: white;
    border: 1px solid #e8e8e8;
    border-radius: 4px;
    z-index: 100;

    p {
      padding: 10px 15px;
      cursor: pointer;
      transition: background 0.3s ease;

      &:hover {
        background-color: rgba(247, 247, 247, 1);
      }
    }
  }

  // Dropdown Menu Styles
  .dropdown-menu {
    position: absolute;
    top: 50px; // Adjust as necessary for your layout
    right: 0;
    width: 150px;
    background: white;
    box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.12);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    z-index: 1000;
    cursor: pointer;
    padding: 8px 0; // Space around the menu items
  }

  .dropdown-option {
    padding: 10px 15px;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    color: #7a7a7a;
    transition: background 0.3s ease;

    &:hover {
      background-color: #f0f0f0;
    }
  }

  .dropdown-divider {
    width: 100%;
    height: 1px;
    background: #dddddd;
  }

  .navigation-buttons {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    gap: 15px;

    .nav-button {
      padding: 10px 20px;
      background-color: #007bff;
      color: #ffffff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 14px;
      transition: background-color 0.2s;

      &:hover {
        background-color: #0056b3;
      }

      &:disabled {
        background-color: #cccccc;
        cursor: not-allowed;
      }
    }
  }

  .content-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 24px;
    border: 1px solid #e8e8e8;
    border-radius: 8px;
    background-color: white;
    margin-bottom: 10px;
    position: relative;

    .content-item-wrapper {
      display: flex;
      align-items: center;
      gap: 16px;
    }

    .content-drag-handle {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 24px;
      height: 24px;
      cursor: move;
    }

    .content-line {
      width: 1px;
      height: 100%;
      background-color: #d4d4d4;
    }

    .content-title {
      color: #1d1d1f;
      font-size: 16px;
      font-weight: bold;
      margin: 0;
    }

    .content-description,
    .content-text-box {
      color: #697586;
      font-size: 14px;
      margin: 0;
    }

    .content-url {
      color: #697586;
      font-size: 14px;
      word-wrap: break-word;
      max-width: 644px;
    }

    .content-file {
      display: flex;
      align-items: center;
      gap: 10px;

      .file-icon {
        width: 20px;
        height: 20px;
      }

      .file-name {
        font-size: 14px;
        color: #1d1d1f;
      }
    }

    .content-actions {
      display: flex;
      gap: 10px;
    }

    .action-icon {
      width: 44px;
      height: 44px;
      padding: 10px;
      border-radius: 4px;
      border: 1px solid #e2e2e2;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      transition: background 0.3s ease;

      &:hover {
        background-color: #f0f0f0;
      }
    }

    .content-preview-popup {
      position: absolute;
      top: 100%;
      left: 0;
      padding: 10px;
      border-radius: 8px;
      z-index: 10;
      width: 400px;
    }
  }

  .modal-backdrop {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .modal {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    max-width: 600px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    position: relative;
    overflow-y: auto;
    max-height: 90%;

    .modal-title {
      font-size: 20px;
      margin-bottom: 20px;
    }

    .modal-input,
    .modal-textarea {
      width: 100%;
      padding: 10px;
      margin-bottom: 15px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }

    .modal-buttons {
      display: flex;
      justify-content: flex-end;
      gap: 10px;
    }

    .save,
    .close {
      padding: 10px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      transition: background 0.3s ease;
    }

    .save {
      background-color: rgba(5, 141, 102, 1);
      color: white;

      &:hover {
        background-color: rgba(4, 120, 87, 1);
      }
    }

    .close {
      background-color: rgba(191, 191, 191, 1);

      &:hover {
        background-color: rgba(235, 235, 235, 1);
      }
    }
  }

  .upload-modal-content {
    height: 420px;
    background: white;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 39px;

    .upload-icon {
      width: 52px;
      height: 52px;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .upload-browse {
      width: 108px;
      height: 36px;
      padding: 8px 12px;
      background: #058d66;
      border-radius: 4px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      .upload-browse-text {
        text-align: center;
        color: white;
        font-size: 14px;
        font-family: "Montserrat", sans-serif;
        font-weight: 400;
      }
    }
  }
}
