.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.9722vw;
    margin-top: 2.777778vw;

    button {
        padding: 0.5556vw;
        margin: 0 5px;
        border: none;
        background-color: rgba(255, 255, 255, 1);
        color: white;
        cursor: pointer;
        border: 1px solid rgba(205, 213, 223, 1);

        img {
            width: 0.694444vw;
            height: auto;
        }

        &:disabled {
            background: rgba(205, 213, 223, 1);
            cursor: not-allowed;
        }
    }

    span {
        font-size: 0.9722vw;
        font-weight: 600;
        line-height: 1.38889vw;
        letter-spacing: 0.10000000149011612px;
    }
}