.courseComponent {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 2.92%;

    .image {
        width: 28.467vw;

        img{
            width: 100%;
            height: auto;
        }
    }
}