.descriptionEditor {
    label {
        font-size: 0.97222vw;
        font-weight: 600;
        line-height: 1.38889vw;
        letter-spacing: 0.10000000149011612px;
        color: rgba(32, 41, 57, 1);
    }
}