.courseSavedTarget {
    >div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        >div {
            display: flex;
            flex-direction: row;
            gap: 1.389vw;
            align-items: center;
            padding: 1.3889vw 0;
            border-bottom: 1px solid rgba(237, 237, 237, 1);

            >div {
                font-size: 1.111vw;
                font-weight: 500;
                line-height: 1.354167vw;
                color: rgba(58, 62, 61, 1);

                &.groupName,
                &.number {
                    width: 17.361vw;
                }
            }

            &.title {
                border: none;

                >div {
                    font-weight: 600;
                    line-height: 1.6667vw;
                    color: rgba(135, 135, 135, 1);
                }
            }
        }

        img {
            width: 1.6667vw;
            height: auto;
        }
    }
}