.filterComponent {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.21vw;
    cursor: pointer;
    
    p {
        font-family: Work Sans;
        font-size: 0.972;
        font-weight: 500;
        line-height: 1.458vw;
        color: rgba(122, 122, 122, 1);
    }

    img{
        width: 1.389vw;
        height: auto;
    }
}