.coursesSidebar {
    width: 18vw;
    padding: 3.6111vw 0 3.05556vw 4.1vw;
    border-right: 1px solid rgba(213, 213, 213, 1);
    background: rgba(247, 247, 247, 1);
    min-height: 100vh;

    >a {
        padding: 0.659722vw 0 0.659722vw 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.5556vw;
        margin-bottom: 2.222vw;

        img {
            width: 2.222vw;
            height: auto;
        }

        p {
            font-size: 0.9722vw;
            font-weight: 500;
            line-height: 1.3888vw;
            color: rgba(122, 122, 122, 1);
        }
    }

    .backButton {
        .backContent {
            display: flex; // Use flexbox to align items in a row
            align-items: center; // Vertically align items in the center
            gap: 8px; // Space between the image and the text (adjust as needed)

            p {
                margin: 0; // Remove any default margins from the paragraph
            }
        }
    }
    
    .sectionsList {
        .counterPart {
            display: flex;
            flex-direction: row;
            gap: 3.75vw;
            align-items: center;
            margin-bottom: 2.222vw;

            .counter {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 0.9722vw;

                p {
                    font-size: 1.111vw;
                    font-weight: 700;
                    line-height: 1.3889vw;
                    color: rgba(0, 0, 0, 1);

                    &.count {
                        color: rgba(173, 173, 173, 1);
                    }
                }
            }



            .addButton {
                cursor: pointer;
                width: 2.222vw;
                height: 2.222vw;
                border-radius: 0.27778vw;
                background: rgba(5, 141, 102, 1);
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;

                svg {
                    width: 0.9256944vw;
                    height: auto;
                }
            }
        }
    }
}