.stepComponent {
    display: flex;
    flex-direction: row;
    gap: 0.5556vw;

    p {
        line-height: 1.38889vw;
        font-size: 0.9722vw;

        &.stepId {
            font-weight: 600;
        }

        &.stepText {
            font-weight: 400;
        }

    }

}