#editorjs {
    background: rgba(255, 255, 255, 1);
    border-radius: 0.555vw;
    padding: 1.180556vw 1.38889vw;
    margin-left: 35px; /* Adds 25px left margin */
    position: relative;

    /* Remove the original border to avoid double-border effect */
    border: none;
}

#editorjs::before {
    content: "";
    position: absolute;
    top: 0;
    left: -35px; /* Start border 25px to the left */
    width: calc(100% + 35px); /* Extend width by 25px */
    height: 100%;
    border: 1px solid rgba(205, 213, 223, 1);
    border-radius: 0.555vw;
    pointer-events: none; /* Ensure pseudo-element doesn't affect layout */
}

#editorjs .codex-editor__redactor {
    padding-bottom: 0 !important;
}

// #editorjs * {
//     margin: 0;
// }

.codex-editor--narrow .codex-editor__redactor {
    margin-left: 70px !important;
}

.codex-editor--narrow .ce-toolbar__actions {
    left: -5px;
    z-index: 999;
}

.ce-block__content,
.ce-toolbar__content {
    max-width: unset;
}